<section id="main" class="l-wrapper">
  <article class="event-info e2-e7">
    <h1 class="event-title"><%= @event.title %></h1>
    <h2 class="event-time"><%= @event.event_date %> <small><strong><%= @event.event_start_time %>&ndash;<%= @event.event_end_time %></strong> at <strong><%= @event.site_name %></strong> (<%= @event.site_address %>)</small></h2>
    <p class="event-description"><%= markdown @event.description %></p>
  </article>

  <article class="details">
    <div class="details-event-info sv2-sv4">
      <iframe src="http://www.eventbrite.com/tickets-external?eid=<%= @event.eventbrite_id %>&ref=etckt&amp;v=2" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
    </div>

    <div id="map" class="details-map sv5-sv6">
      <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//www.google.com/maps?t=m&amp;q=900+E+Pine,+Suite+%23202&amp;ie=UTF8&amp;hq=&amp;hnear=900+E+Pine+St+%23202,+Seattle,+Washington+98122&amp;z=14&amp;ll=47.614128,-122.32137&amp;output=embed&amp;iwloc=near"></iframe>
    </div>
  </article>
</section>