<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">

    <title>Refresh Seattle</title>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "//cdn.symbolset.com/7caa794d058ea28c29dee173f9491b3993b2d375/symbolset.css", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "//use.typekit.net/bzu2pnd.js", "data-turbolinks-track" => true %>
    <% javascript_tag 'try{Typekit.load();}catch(e){}' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header class="header">
      <nav>
        <ul>
          <li class="e2-e7 brand">
            <a href="/">Refresh Seattle</a>
          </li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <footer class="footer">
      <div class="l-wrapper">
        <section class="footer-info e2-e4">
          <arcticle>
            <h1>About</h1>
            <p>Refresh Seattle is a community of designers and developers working to refresh the creative, technical, and professional culture of New Media endeavors in the Seattle/Puget Sound area. Promoting design, technology, usability, and standards, Refresh Seattle is a part of Refresh and the associated <a href="http://refreshingcities.com/">Refreshing Cities</a>.</p>
          </article>

          <article>
            <ul class="undecorated social">
              <li>  
                <a class="ss-social-circle ss-icon" href="http://twitter.com/refreshSEA">Twitter</a>
              </li>
              <li>
                <a class="ss-social-circle ss-icon" href="http://github.com/refreshseattle">GitHub</a>
              </li>
            </ul>
          </article>
        </section>

        <section class="footer-speakers e5-e7">
          <h1>Upcoming Speakers</h1>
          <p>We&rsquo;re on the look for more speakers! If you'd like to present, please <a href="mailto:organizers@refreshseattle.org">contact us</a>!</p>
        </section>
      </div>
    </footer>
    <!-- Made with love and coffee in the PNW. Want to help out? Ping us at organizers@refreshseattle.org -->
    <!-- (~)> -->
    <%= javascript_include_tag "//cdn.symbolset.com/7caa794d058ea28c29dee173f9491b3993b2d375/symbolset.js", "data-turbolinks-track" => true %>
  </body>
</html>
